<body>
 <h2><img src="https://res.cloudinary.com/dzmyhcemr/image/upload/v1641543329/Hoothoot_001_hls1qh.gif" alt="hoothoot"></h2>

<%# Test pour le bouton favoris %>
 <div class="flexbox">
    <div class="fav-btn">
      <span href="" class="favme dashicons dashicons-heart"><i class="far fa-heart"></i></span>
    </div>
  </div>
</body>
