#contacts-list {
  margin: 0 10px;

  ul {
    list-style-type: none;
  }

  li {
    text-align: left;
  }
}

.contact {
  width: 100%;
  margin: 0 5px;
  background-color: rgba(0, 0, 0, 0.07);
}

.contact-text {
  color: #000000;
  padding: 0 5px;
}

.contact-address {
  font-size: 0.7em;
}
