.title-animal {
	color:#FFF;
	// text-transform: uppercase;
	font-family: 'Poiret One', cursive;
	text-align:center;
	font-size: 2.3em;
	margin:0;
	margin-bottom: .3em;
	background-color:#064635;
	border-radius:4px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  // .décalage-titre {
  //   padding-left: 50px;
  // }
}

.fa-heart {
  font-size: 0.8em;
  color: #F0BB62;
}

.button-icon {
  background-color: #064635;
  border: none;
}
