// Specific CSS for your home-page
html{
  height: 100%;
}
body {
  background-color: #f8f4c5;
  justify-content: center;
  // text-align: center;
  height: 100%;
}

#wrapper {
  min-height: 100%;
  margin-bottom: -3.2rem;
  padding-bottom: 3.2rem;
}

.container {
  justify-content: center;
  text-align: center;
}

.row {
  display: flex;
  justify-content: center;
}

// .search-logo {
//   font-size: 10px;
//   color: #F0BB62;
// }

p {

  a {
    color: #519259;
  }

}

.retour {
   a {
    color: #72582c;
    font-family: 'Lilita One', cursive;
  }
}

.modal-search {
  display: none;
}

// Phrase itinéraire SHOW Véto

#saved-message-itinerary {
  font-family: 'Courier Prime', monospace;
  text-align: justify;
  margin: 25px;
  a {
    color: #519259;
  }
}
