// Specific CSS for your home-page

body {
  background-color: #f8f4c5;
  justify-content: center;
  // text-align: center;
}

.container {
  justify-content: center;
  text-align: center;
}

.row {
  display: flex;
  justify-content: center;
}

.search-logo {
  font-size: 10px;
  color: #F0BB62;
}
