<footer>
  <p>
    <a href="#">Assistance</a>
    <a href="#">FAQ</a>
    <a href="#">A propos de</a>
    <a href="#">Contact</a>

    © Panse Bêtes 2022 <img src="https://res.cloudinary.com/dzmyhcemr/image/upload/v1641543326/Hoothootsiffle_hpqzid.gif" alt="hoothoot">
  </p>
</footer>
