  <div class="header">
    <%# Titre et "slogan" %>
    <div id="logo-img">
      <a href="/"><img id="logo" src="https://res.cloudinary.com/dzmyhcemr/image/upload/v1641302917/Hoo_hoo_mxzi7t.png" alt="logo"></a>
    </div>
    <div>
      <h1>Panse Bêtes
        <p>Premiers soins aux animaux blessés</p>
      </h1>
    </div>
  </div>
