  <div class="header">
    <%# Titre et "slogan" %>
    <img src="https://res.cloudinary.com/dzmyhcemr/image/upload/v1641302917/Hoo_hoo_mxzi7t.png" alt="logo" width="40%">
    <h1>Panse Bêtes
      <p>Premiers soins aux animaux blessés</p>
    </h1>
    <div>
      <%= link_to "/#" do %>
        <img src="https://res.cloudinary.com/dzmyhcemr/image/upload/v1641457841/Hoothome_tgjyys.gif" alt="hoothoot">
      <% end %>
    </div>
  </div>
