<body>

  <div class="container m-auto">
    <%# En-tête principal %>
    <%# Rang  1 %>
    <div class="row">
      <%# Bouton de recherches %>
      <div class="button-search">Rechercher <img src="https://res.cloudinary.com/dzmyhcemr/image/upload/v1641398870/Hoohoo_ps4u15.gif" alt="hoothoot"></div>
    </div>


    <%# Cards %>
    <%# <div class="row"> %>
      <h2>Fréquemment recherchés <i class="fas fa-paw"></i></h1>
    <%# </div> %>

    <%# Rang 2 %>
    <div class="row">
      <% @animals.first(4).each do |animal| %>
        <div class="card-animal">
              <% if animal.photo.attached? %>
                <%= cl_image_tag animal.photo.key, width: 400, height: 300, crop: :fill %>
              <% else %>
                <%= image_tag("silhouette.jpg", size: "200x150", alt: "silhouette d'animaux") %>
              <% end %>

            <div class="card-animals-list-infos">
              <h3><%= link_to animal.name, animal_path(animal) %> <i class="fas fa-leaf"></i></h3>
              <p>Description <i class="far fa-edit"></i></p>
            </div>
        </div>

      <% end %>
    </div>


    <%# Rang 3 %>
      <div class="row">
        <h2>Autour de vous <i class="fas fa-map-signs"></i></h2>
      </div>

    <%# Rang 4 %>
    <div class="row">
      <p><img src="https://res.cloudinary.com/dzmyhcemr/image/upload/v1641561391/Map_vbgwv7.png" alt="map"></p>
    </div>
  </div>

</body>
