<body>
  <div class="container m-auto">
    <%# En-tête principal %>
    <%# Rang  1 %>
    <div class="row">
      <%# Bouton de recherches %>
      <div class="button-search">Rechercher <img src="https://res.cloudinary.com/dzmyhcemr/image/upload/v1641398870/Hoohoo_ps4u15.gif" alt="hoothoot"></div>
    </div>


    <%# Cards %>
    <%# <div class="row"> %>
      <h2>Fréquemment recherchés <i class="fas fa-paw"></i></h1>
    <%# </div> %>

    <%# Rang 2 %>
    <div class="row">
      <%# Carte 1 %>
      <div class="card-animal">
        <img src="https://images.pexels.com/photos/260143/pexels-photo-260143.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" />
        <div class="card-animal-infos">
          <div>
            <h2>Hérisson <i class="fas fa-otter"></i></h2>
            <p>Description <i class="far fa-edit"></i></p>
          </div>
        </div>
      </div>
      <%# Carte 2 %>
      <div class="card-animal">
        <img src="https://images.pexels.com/photos/5633490/pexels-photo-5633490.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" />
        <div class="card-animal-infos">
          <div>
            <h2>Merle <i class="fas fa-crow"></i></h2>
            <p>Description <i class="far fa-edit"></i></p>
          </div>
        </div>
      </div>
    </div>

    <%# Rang 4 %>
    <div class="row">
      <%# Carte 3 %>
      <div class="card-animal">
        <img src="https://images.pexels.com/photos/3387169/pexels-photo-3387169.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" />
        <div class="card-animal-infos">
          <div>
            <h2>Tortue <i class="fas fa-frog"></i></h2>
            <p>Description <i class="far fa-edit"></i></p>
          </div>
        </div>
      </div>
      <%# Carte 4 %>
      <div class="card-animal">
        <img src="https://images.pexels.com/photos/2570081/pexels-photo-2570081.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" />
        <div class="card-animal-infos">
          <div>
            <h2>Moineau <i class="fas fa-crow"></i></h2>
            <p>Description <i class="far fa-edit"></i></p>
          </div>
        </div>
      </div>
    </div>
    <%# Rang 5 %>
    <div class="row">
      <h2>Autour de vous <i class="fas fa-map-signs"></i></h2>
    </div>
    <%# Rang 6 %>
    <div class="row">
      <p>Insérer carte ici</p>
    </div>

  </div>

</body>
