<div>
  <h1>Animals index</h1>

  <% @animals.each do |animal| %>
    <div>
      <div>
        <%= animal.name %>
      </div>
      <div>
        <img src="" alt="">
      </div>
      </ul>
    </div>
  <% end %>
</div>
