<div>
  <h1>Animals index</h1>

  <% @animals.each do |animal| %>
    <div>
      <div>
        <%= animal.name %>
      </div>
      <div>
        <% if animal.photo.attached? %>
          <%= cl_image_tag animal.photo.key, width: 400, height: 300, crop: :fill %>
        <% else %>
          <%= image_tag("silhouette.jpg", size: "200x150", alt: "silhouette d'animaux") %>
        <% end %>
      </div>
      </ul>
    </div>
  <% end %>
</div>
