<div>
  <h2>Animals index</h1>
  <% @animals.each do |animal| %>

  <div class="card-animals-list">
    <% if animal.photo.attached? %>
            <%= cl_image_tag animal.photo.key, width: 400, height: 300, crop: :fill %>
          <% else %>
            <%= image_tag("silhouette.jpg", size: "200x150", alt: "silhouette d'animaux") %>
          <% end %>
    <div class="card-animals-list-infos">
      <h2><%= animal.name %></h2>
      <p>Product description with <strong>relevant info</strong> only.</p>
    </div>
  </div>

  <% end %>
</div>
