<div>
  <h2>Animals index <i class="far fa-list-alt"></i></h1>
  <% @animals.each do |animal| %>

  <div class="card-animals-list">
    <% if animal.photo.attached? %>
            <%= cl_image_tag animal.photo.key, width: 400, height: 300, crop: :fill %>
          <% else %>
            <%= image_tag("silhouette.jpg", size: "200x150", alt: "silhouette d'animaux") %>
          <% end %>
    <div class="card-animals-list-infos">
      <h3><%= link_to animal.name, animal_path(animal) %> <i class="fas fa-leaf"></i></h3>
      <p>Product description with <strong>relevant info</strong> only.</p>
    </div>
  </div>
  <% end %>
</div>
