// HOME page, bouton vers le formulaire de recherches

.button-search {
  border: solid #F0BB62;
  margin: 15px;
  padding: 10px;
  border-radius: 20px;
  background-color: #F0BB62;
  box-shadow: 2px 2px 2px 2px #c0954a;
  font-family: 'Lilita One', cursive;
  color: #72582c;
  align-items: center;
  text-align: center;
  a {
    color: #72582c;
  }
}

.button-search-hover {
  border: solid #F4EEA9;
  background-color: #F4EEA9;
  box-shadow: 2px 2px 2px 2px #c0954a;
  font-family: 'Lilita One', cursive;
}

.button-little {
  border: solid #f06b43;
  margin: 15px;
  padding: 10px;
  // height: auto;
  // width: 100px;
  border-radius: 20px;
  background-color: #f06b43;
  box-shadow: 2px 2px 2px 2px #b64725;
  font-family: 'Lilita One', cursive;
  .btn {
    color: #833017;
  }
   a {
    color: #7e260b;
  }
}

// Bouton logo Home

.logo-home {
  align-items: flex-end;
}

// Bouton favoris

// Bouton formulaire

.button-form {
  border: solid #65b66e;
  margin: 15px;
  padding: 5px;
  width: auto;
  border-radius: 20px;
  background-color: #65b66e;
  box-shadow: 2px 2px 2px 2px #519259;
  font-family: 'Lilita One', cursive;
  color: #064635;
  align-items: center;
  text-align: center;
  a {
    color: #064635;
  }
}

.btn-primary {
  border: solid #F0BB62;
  margin: 15px;
  padding: 10px;
  border-radius: 20px;
  background-color: #F0BB62;
  box-shadow: 2px 2px 2px 2px #c0954a;
  font-family: 'Lilita One', cursive;
  color: #72582c;
  align-items: center;
  text-align: center;
  a {
    color: #72582c;
  }
}
