// HOME page, bouton vers le formulaire de recherches

.button-search {
  border: solid #F0BB62;
  margin: 15px;
  padding: 10px;
  border-radius: 20px;
  background-color: #F0BB62;
  box-shadow: 2px 2px 2px 2px #c0954a;
  font-family: 'Lilita One', cursive;
}

.button-hover {
  border: solid #F4EEA9;
  background-color: #F4EEA9;
  box-shadow: 2px 2px 2px 2px #c0954a;
  font-family: 'Lilita One', cursive;
}
