.card-animal {
  overflow: hidden;
  background: #f3fff5;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
   width: 18%;
  margin: 40px;
  justify-content: center;
}

.card-animal > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-animal h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-animal p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-animal .card-animal-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}
