.header {

  background-color: #F0BB62;
  display: flex;
  justify-content: center;
  padding: 25px;
  text-align: center;
  margin-bottom: 15px;
}

#logo-img {
  width: 30%;
}

#logo {
  width: 100%;
}
