* {
  box-sizing: border-box;
}
.searchbar {
  // margin: 2em 20em;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 25px;
}
.searchform {
  display: block;
  margin: 0;
  overflow: hidden;
  width: 50%;
}
label, input {
  vertical-align: baseline;
  color: #000000;
}
label {
  margin: 0.125em 0.125em 0 0;
  float: right;

}
input[type="search"] {
  border: 2px solid #737373;
  border-width: 0 0 3px;
  background-color: transparent;
  // font: 22px "Open Sans", sans-serif;
  font-size: 22px;
  font-family: 'Josefin Slab', serif;
  padding: 0.125em 0.225em;
  width: 85%;
  float: left;

}
input[type="search"]:focus {
  color: #E18728;
  border-color: #E18728;
  outline: none;
}
